.apps {
    width: 100%;
    margin: 9rem 0 0 0;
    background-color: #f0f0f5;
    overflow-x: hidden;
}

.apps .row {
    padding: 16px 22%;
    margin: 0;
    height: auto;
}

.apps .row .text {
    font-size: 22px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
    font-stretch: normal;
    letter-spacing: 0.3px;
    line-height: 1/8rem;
}

.apps a {
    width: 100%;
}

.apps img {
    width: 200px;
}

@media only screen and (max-width: 1200px) {
    .apps{
        width: 100%;
    }
    .apps .row {
        padding: 16px 12%;
    }

    .apps img {
        width: 180px;
    }
}

@media only screen and (max-width: 992px) {
    .apps{
        width: 100%;
    }
    .apps .row {
        padding: 16px 12%;
    }

    .apps img {
        width: 160px;
    }

    .apps .row .text {
        font-size: 20px;
    }
}

@media only screen and (max-width: 768px) {
    
    .apps .row {
        padding: 16px 8%;
    }

    .apps img {
        width: 140px;
    }

    .apps .row .text {
        font-size: 18px;
    }
}

@media only screen and (max-width: 576px) {
    .apps .row {
        padding: 16px 5%;
    }

    .apps img {
        width: 120px;
    }

    .apps .row .text {
        font-size: 16px;
    }
}