.container-fluid {
  width: 100%;
  padding: 1rem 10rem 18px 10rem;
  box-shadow: 0px 7px 5px rgba(240, 232, 232, 0.6);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-icon {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.other-icon h5 {
  cursor: pointer;
  color: #000;
  margin: 0 1rem 0 0;
  font-family: "Noto-sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 800;
  opacity: 0.87;
  text-decoration-line: underline;
  text-underline-offset: 0.6rem;
  text-decoration-thickness: 2.7px;
}

.other-icon h5:hover {
  text-decoration-color: #ff5e00;
  color: #ff5e00;
}

.listOfNavItems {
  cursor: pointer;
  width: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.listOfNavItems svg {
  margin-right: 1rem;
  margin-left: 2rem;
}

.listOfNavItems h5{
  cursor: pointer;
  color: #000;
  margin: 0;
  font-family: "Noto-sans", sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 650;
  opacity: 0.87;
}

.listOfNavItems:hover,
.listOfNavItems h5:hover,
.listOfNavItems svg:hover {
  fill: #ff5e00 !important;
  color: #ff5e00 !important;
}
