.top-container {
    width: 100%;
    padding: 0 13%;
    margin: 2rem 0 0 0;
}

.top-container h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    letter-spacing: 0.2px;
    font-size: 22px;
    font-style: normal;
    font-stretch: normal;
}

.top-container .prev-btn,
.top-container .next-btn {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    border: none;
}

.prev-btn:not(:active) {
    opacity: 0.7;
}

.card {
    width: 16rem;
    height: 5rem;
    outline: none; 
    border-radius: 12px;
}

.img-container{
    width: 15.7rem;
    position: relative;
}


.card-slider .img-list{
    height: 35vh;
    padding: 10px 0;
    display: grid;
    gap: 25px;
    overflow-x: auto;
    scrollbar-width: none; 
    grid-template-columns: repeat(20, 1fr);
    scroll-snap-type: mandatory inline;
}

.card-slider .img-list::-webkit-scrollbar {
    display: none;
}

.card-slider .img-list .img-item {
    cursor: pointer;
    width: 138px;
    height: 138px;
    object-fit: cover;
    outline: none;
}

.card-slider .img-list::-webkit-scrollbar {
    display: none;
}

.card-slider .img-list .card:hover {
    cursor: pointer;
    transform: scale(0.9);
    transition: transform 0.25s;
}

.card img{
    width: 15.9rem;
    height: 8rem;
    display: block;
    position: relative;
    object-fit: cover;
    border-radius: 12px;
    border: none;
    outline: none;
}

.card h6 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 900;
    position: absolute;
    top: 6.5rem;
    left: 0;
    letter-spacing: 0%;
    word-spacing: 0%;
    padding: 0 0 2px 12px;
    margin: 0;
}

.card h4 {
    margin-top: 12px;
    font-size: 17px;
    font-weight: 600;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    margin-top: 12px;
    padding: 0 16px;
}

.card .card-body {
    padding: 0;;
}

.card h5 {
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    padding: 0 0 0 2px;
    margin: 8px 0 0 0;
    
}
.card .card-body svg{
    margin-left: 16px;
    margin-top: 6px;
}

.card p {
    margin: 4px 0 0 18px;
    font-family: 'Poppins', sans-serif;
    line-height: 1;
    font-size: 12px;
    padding: 0 10px 0 0;
}


.slider-scrollbar {
    height: 16px;
    width: 5%;
    margin: 0 auto 0 auto;
    display: flex;
    align-items: center; 
}

.slider-scrollbar .scrollbar-track {
    height: 4px;
    width: 100%;
    background: #e8e8e8;
    position: relative;
    border-radius: 8px;
}

.slider-scrollbar .scrollbar-thumb {
    position: absolute;
    height: 3px;
    width: 14%;
    background: #ff0000;
    border-radius: inherit;
}

.bottom-line {
    width: 100%;
    border-bottom: 1px solid;
    border-color: #eaeaea;
    margin: 40px 0 12px 0;
}

